@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");


.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 80px;
    border-radius: 15px;
    font-family: "Nanumsquare";
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn:hover {
    color: #00b0f0;
    cursor: pointer;
}

.eee {
    text-align: left;
}