body {
    font-family: Nanumsquare;
}

a {
    text-decoration-line: none;
}

p {
    font-family: Nanumsquare;
    font-size: 15px;
}

.calculator_change {
    margin: 10px auto;
    display: flex;
}

.calculator_change1 {
    flex: 1;
    border: 1px;
    text-align: center;
    background-color:beige;
    border-radius: 20px;
    padding: 15px 40px;
    font-family: Nanumsquare;
}

.calculator_change2 {
    flex: 1;
    border: 1px;
    text-align: center;
    background-color:beige;
    border-radius: 20px;
    margin-left: 5%;
    padding: 15px 40px;
    font-family: Nanumsquare;
}

.button_club {
    margin: 10px auto;
    display: flex;
}

.button_club2 {
    margin: 10px auto;
    display: flex;
}

.w-btn1 {
    flex: 1;
    border: 1px;
    width: 300px;
    margin: 5px;
    padding: 15px 40px;
    border-radius: 15px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn1-click {
    color: #00b0f0;
    flex: 1;
    border: 1px;
    width: 300px;
    margin: 5px;
    padding: 15px 40px;
    border-radius: 15px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn2 {
    flex: 1;
    border: 1px;
    width: 220px;
    margin: 5px;
    padding: 15px 60px;
    border-radius: 15px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn2-click {
    color: #00b0f0;
    flex: 1;
    border: 1px;
    width: 220px;
    margin: 5px;
    padding: 15px 60px;
    border-radius: 15px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn1:hover {
    color: #00b0f0;
    cursor: pointer;
}

.w-btn2:hover {
    color: #00b0f0;
    cursor: pointer;
}

.eee {
    text-align: left;
}

#reset {
    width: 70px;
    height: 25px;
}


.calculator_box > h1, h2, h3 {
    font-family: Nanumsquare;
    color: #00b0f0;
}

.calculator_table {
    margin-top: 2%;
    font-size: 15px;
}

.calculator_table > thead {
    background-color: #00b0f0;
    color: white;
    height: 60px;
}

.calculator_table_spralac > thead {
    height: 40px;
    width: 50px;
    font-size: 15px;
    background: #00b0f0;
}

.calculator_table_spralac > tbody {
    height: 30px;
    width: 50px;
}

.calculator_table_spralac > tbody > tr > .title {
    font-weight: bold;
}

.calculator_table_spralac > thead > .spralac_name {
    color: white;
}